<h4>Get your <b>application access token</b> to create default user, manage consent receipts and deploy datacages.</h4>
<ul class="nav ">
    <li class="nav-item"><a class="nav-link active" href="#pill1" data-toggle="tab">Node JS</a></li>
    <li class="nav-item"><a class="nav-link" href="#pill2" data-toggle="tab">Python</a></li>
    <li class="nav-item"><a class="nav-link" href="#pill3" data-toggle="tab">Java</a></li>
</ul>
<div class="tab-content ">
    <div class="tab-pane active" id="pill1">          
<pre>
<code class="javascript">
    var request = require('request');
    var options = {
    'method': 'POST',
    'url': 'https://api.datavillage.me/oauth/token',
    'headers': {
        'Content-Type': ['application/x-www-form-urlencoded', 'application/x-www-form-urlencoded']
    },
    form: {
        'client_id': '{{application.clientId}}',
        'client_secret': 'YOUR_APPLICATION_SECRET'
    }
    };
    request(options, function (error, response) { 
    if (error) throw new Error(error);
    console.log(response.body);
    });
</code>
</pre>
    </div>
    <div class="tab-pane" id="pill2">
<pre>
<code class="python">
import requests

url = "https://api.datavillage.me/oauth/token"

payload = 'client_id={{application.clientId}}&amp;client_secret=YOUR_APPLICATION_SECRET'
headers = {
  'Content-Type': 'application/x-www-form-urlencoded',
  'Content-Type': 'application/x-www-form-urlencoded'
}

response = requests.request("POST", url, headers=headers, data = payload)

print(response.text.encode('utf8'))
</code>
</pre> 
    </div>
    <div class="tab-pane" id="pill3">
<pre>
<code class="java">
OkHttpClient client = new OkHttpClient().newBuilder()
  .build();
MediaType mediaType = MediaType.parse("application/x-www-form-urlencoded,application/x-www-form-urlencoded");
RequestBody body = RequestBody.create(mediaType, "client_id={{application.clientId}}&amp;client_secret=YOUR_APPLICATION_SECRET");
Request request = new Request.Builder()
  .url("https://api.datavillage.me/oauth/token")
  .method("POST", body)
  .addHeader("Content-Type", "application/x-www-form-urlencoded")
  .addHeader("Content-Type", "application/x-www-form-urlencoded")
  .build();
Response response = client.newCall(request).execute();
</code>
</pre>
    </div>
<h4><b>Test this endpoint</b></h4>
<form method="POST" target="applicationAccessTokenResponseiFrame" action="/auth/applications/test/oauth/token">
    <input type="hidden" name="clientId" value="{{application.clientId}}"/>
    <input type="hidden" name="clientSecret" value="{{application.clientSecret}}"/>
    <button type="submit" class="btn btn-primary">Try &amp; get application access token</button>
</form>
<iframe class="response-payload" style="height:0px" id="applicationAccessTokenResponseiFrame" name="applicationAccessTokenResponseiFrame"></iframe> 