<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-6">
		{{#if behavior.level}}
			{{#if behavior.isHigh}}
				<img style="max-width:48px" src="/img/icons/in-love.png" data-toggle="tooltip" data-placement="bottom" title="{{behavior.description}}"/>
			{{else}}
				{{#if behavior.isMedium}}
					<img style="max-width:48px" src="/img/icons/sad.png" data-toggle="tooltip" data-placement="bottom" title="{{behavior.description}}"/>
				{{else}}
					<img style="max-width:48px" src="/img/icons/angry.png"data-toggle="tooltip" data-placement="bottom" title="{{behavior.description}}"/>
				{{/if}}
			{{/if}}
		{{else}}
			{{#if force}}
				<img style="max-width:48px" src="/img/icons/in-love.png" data-toggle="tooltip" data-placement="bottom" title="{{behavior.description}}"/>
			{{/if}}
		{{/if}}
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6">
		<h3 style="margin-top:-10px">{{day}}</h3>
	</div>
</div>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		{{#if behavior.level}}
			<small>Dist. home <b>{{behavior.distance}}m</b></small>
		{{else}}
			{{#if force}}
				<small>Dist. home <b>0m</b></small>
			{{/if}}
		{{/if}}
	</div>
</div>