<form method="POST" action="/auth/consents/create" target="consentReceiptCreationiFrame">
    <div class="request">
        <div class="request-parameters">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="consentReceiptName">Name</label>
                        <input type="text" class="form-control" id="consentReceiptName" name="consentReceiptName" onchange="modifyRequestPayload(this.id,this.value)">
                        <span class="badge badge-default">String</span> <small>Name of the consent receipt to create.</small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="consentReceiptDescription">Description</label>
                        <input type="text" class="form-control" id="consentReceiptDescription" name="consentReceiptDescription" onchange="modifyRequestPayload(this.id,this.value)">
                        <span class="badge badge-default">String</span> <small>Description of the consent receipt to create.</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="consentReceiptPurpose">Purpose</label>
                        <textarea class="form-control" id="consentReceiptPurpose"  name="consentReceiptPurpose" rows="2" onchange="modifyRequestPayload(this.id,this.value)"></textarea>
                        <span class="badge badge-default">String</span> <small>Purpose of the personal data processing.</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="consentReceiptDataCategories">Data categories</label>
                            <div>
                            <select id="consentReceiptDataCategories"  class="form-control selectpicker" multiple="multiple">
                                <option value="Consumption">Consumption</option>
                                <option value="Geospatial">Geospatial</option>
                                <option value="Health">Health</option>
                                <option value="KnowledgeAndInterest">Knowledge&amp;Interest</option>
                                <option value="Social">Social</option>
                            </select>
                            <input type="hidden" id="consentReceiptDataCategoriesValue" name="consentReceiptDataCategoriesValue" value=""/>

                        </div>
                        <span class="badge badge-default">Array</span> <small>List of data categories used by processing.</small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="consentReceiptDataSources">Data sources</label>
                            <div>
                            <select id="consentReceiptDataSources"  class="form-control selectpicker" multiple="multiple">
                                <optgroup label="Health">
                                        <option value="20f2fc315a06ed54663bdfd5efa4a51234b27fd4d4690bd58d0944120bcd31d08d28ae5891ba9243c91f5eab608d5d364c1681e2bf0d9e30c25822d8350c5a5d">Strava</option>
                                        <option value="800fa4d4b990b2eabaa9d56d27fbaa797a25801c40e2d17456bf16b91a41b9c0181c429e384d516f901460038c1aa575d6da582c34a609eb3f46c0d99cda8b1f">Fitbit</option>
                                </optgroup>
                                <optgroup label="Consumption">
                                        <option value="3c3305760fce447f9a489d7c28dbe84e46c918dcffb2c2838843ef4be3d121bef011d89fd9c4ea543a65134bfbddb0a57a5bec6ebff007724ec74a73eef7c2e3">Colruyt</option>
                                </optgroup>
                                <optgroup label="Knowledge&Interest">
                                        <option value="9c7eabb50816242175562fa9ae5ad4dd66c0b7b03a813a7ef021ec9c07c80f8e45a6383b82d5164342cb82d585d20ecb33d7ed7fe020c12b18d44ec5d238ede1">Spotify</option>
                                </optgroup>
                            </select>
                            <input type="hidden" id="consentReceiptDataSourcesValue" name="consentReceiptDataSourcesValue" value=""/>
                        </div>
                        <span class="badge badge-default">Array</span> <small>List of data sources used by processing.</small>
                    </div>
                </div>
            </div>  
            <div class="row">
                
                <div class="col">
                    <div class="form-group">
                        <label for="consentReceiptBehaviorExtractedFrequency">Behavior extracted frequency</label>
                        <select class="form-control selectpicker" data-style="btn btn-link" id="consentReceiptBehaviorExtractedFrequency" name="consentReceiptBehaviorExtractedFrequency" onchange="modifyRequestPayload(this.id,this.value)">
                            <option>None Selected</option>
                            <option value="unitHour">Hourly</option>
                            <option value="unitDay">Daily</option>
                            <option value="unitWeek">Weekly</option>
                            <option value="unitMonth">Monthly</option>
                        </select>
                        <span class="badge badge-default">String</span> <small>Frequency of processing to create the behavior.</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="createdByName">Created by</label>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" id="consentReceiptCreatorName" name="consentReceiptCreatorName" value="{{#if company.name}}{{company.name}}{{/if}}" onchange="modifyRequestPayload(this.id,this.value)">
                        <span class="badge badge-default">String</span> <small>Name of the organisation</small>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="consentReceiptCreatorUrl" name="consentReceiptCreatorUrl" value="{{#if company.uri}}{{company.uri}}{{/if}}" onchange="modifyRequestPayload(this.id,this.value)">
                        <span class="badge badge-default">String</span> <small>URI of the organisation</small>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="consentReceiptCreatorLogo" name="consentReceiptCreatorLogo" value="{{#if company.uri}}{{company.uri}}/logo.png{{/if}}" onchange="modifyRequestPayload(this.id,this.value)">
                        <span class="badge badge-default">String</span> <small>URL to the Logo of the organisation</small>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="request-payload">
            <pre>
<code class="javascript">
var request = require('request');
var options = {
  'method': 'POST',
  'url': 'https://api.datavillage.me/consentReceipts',
  'headers': {
    'Authorization': 'Bearer {{#if application.applicationAccessToken}}{{application.applicationAccessToken}}{{else}}APPLICATION_ACCESS_TOKEN{{/if}}',
    'Content-Type': 'application/x-www-form-urlencoded'
  },
  form: {
    'name': '<span id="consentReceiptNameRequest"></span>',
    'description': '<span id="consentReceiptDescriptionRequest"></span>',
    'purpose': '<span id="consentReceiptPurposeRequest"></span>',
    'duration': '<span id="consentReceiptDurationRequest"></span>',
    'data-categories': '<span id="consentReceiptDataCategoriesRequest"></span>',
    'data-sources': '<span id="consentReceiptDataSourcesRequest"></span>',
    'creator-name': '<span id="consentReceiptCreatorNameRequest">{{#if company.uri}}{{company.name}}{{/if}}</span>',
    'creator-uri': '<span id="consentReceiptCreatorUriRequest">{{#if company.uri}}{{company.uri}}{{/if}}</span>',
    'creator-logo': '<span id="consentReceiptcreatorLogoRequest">{{#if company.uri}}{{company.uri}}{{/if}}/logo.png</span>',
    'behavior-extracted-frequency': '<span id="consentReceiptBehaviorExtractedFrequencyRequest"></span>',
  }
};
request(options, function (error, response) { 
  if (error) throw new Error(error);
  console.log(response.body);
});
</code>
</pre>
        </div>
    </div>
    <h4><b>Test this endpoint</b></h4>
    {{#if application.applicationAccessToken}}
        <button type="submit" class="btn btn-primary">Try &amp; create consent receipt</button>
    {{else}}
    To try this enpoint, first <a href="/auth/applications/applicationToken">get your application access token</a>
    {{/if}}
</form>
<iframe class="response-payload" style="height:0px" name="consentReceiptCreationiFrame" id="consentReceiptCreationiFrame"></iframe> 
<script>
    var consentReceiptDataSourcesValue=[];
    var consentReceiptDataCategoriesValue=[];    
    $(document).ready(function() {  
        $('#consentReceiptDataSources').multiselect({
            buttonClass: 'btn-light btn-sm form-control',
            onChange: function(element, checked) {
                if(consentReceiptDataSourcesValue[element.val()]==null)
                    consentReceiptDataSourcesValue[element.val()]=element.val();
                else
                    consentReceiptDataSourcesValue[element.val()]=null;
                consentReceiptDataSourcesValueString="";
                for (var key in consentReceiptDataSourcesValue) {
                    if(consentReceiptDataSourcesValue[key]!=null)
                        consentReceiptDataSourcesValueString+=consentReceiptDataSourcesValue[key]+",";
                }
                consentReceiptDataSourcesValueString=consentReceiptDataSourcesValueString.substr(0,consentReceiptDataSourcesValueString.length-1)
                document.getElementById("consentReceiptDataSourcesValue").value=consentReceiptDataSourcesValueString;
                modifyRequestPayload("consentReceiptDataSources",consentReceiptDataSourcesValueString);
            }
        });
        
        $('#consentReceiptDataCategories').multiselect({
            buttonClass: 'btn-light btn-sm form-control',
            onChange: function(element, checked) {
                if(consentReceiptDataCategoriesValue[element.val()]==null)
                    consentReceiptDataCategoriesValue[element.val()]=element.val();
                else
                    consentReceiptDataCategoriesValue[element.val()]=null;
                consentReceiptDataCategoriesValueString="";
                for (var key in consentReceiptDataCategoriesValue) {
                    if(consentReceiptDataCategoriesValue[key]!=null)
                        consentReceiptDataCategoriesValueString+=consentReceiptDataCategoriesValue[key]+",";
                }
                consentReceiptDataCategoriesValueString=consentReceiptDataCategoriesValueString.substr(0,consentReceiptDataCategoriesValueString.length-1)
                document.getElementById("consentReceiptDataCategoriesValue").value=consentReceiptDataCategoriesValueString;
                modifyRequestPayload("consentReceiptDataCategories",consentReceiptDataCategoriesValueString);
            }
        });
    });
    
</script>