<center>
  {{#if session.companyName}}
    {{#if session.applicationAccessToken}}
        {{#if session.podTypeId}}
            {{#if session.applicationUserId}}
                {{#if session.applicationUserAccessToken}}
                {{else}}
                  <div class="alert alert-warning"><strong>Environment not ready!</strong> To setup your dev environment, you need first to <a href="/auth/pods/userToken">get your test user token (click here)</a></div>
                {{/if}}
            {{else}}
              <div class="alert alert-warning"><strong>Environment not ready!</strong> To setup your dev environment, you need first to <a href="/auth/pods/userCreation">create and select your test user (click here)</a></div>
            {{/if}}
        {{else}}
          <div class="alert alert-warning"><strong>Environment not ready!</strong> To setup your dev environment, you need first to <a href="/auth/pods">select type of pod you provide to your users (click here)</a></div>
        {{/if}}
    {{else}}
      <div class="alert alert-warning"><strong>Environment not ready!</strong> To setup your dev environment, you need first to <a href="/auth/applications">get your application token application (click here)</a></div>
    {{/if}}
  {{else}}
    <div class="alert alert-warning"><strong>Environment not ready!</strong> To setup your dev environment, you need first to <a href="/auth/applications">create an application (click here)</a></div>
  {{/if}}
</center>
