<!-- Navbar -->
<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="10" id="sectionsNav">
    <a class="navbar-brand" href="/home"><img style="width:100px;margin-top:-15px;" src="/img/logo2.png"/><span class="badge badge-pill badge-primary">BETA</span></a>
    <div class="container">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
           {{#if user}}
           <li class="nav-item {{applications}}">
              <a class="nav-link" href="/auth/applications" onclick="">
                <i class="material-icons-outlined">apps</i> Apps
              </a>
            </li>
            
           {{else}}
            <li class="nav-item {{home}}">
              <a class="nav-link" href="/home" onclick="">
                <i class="material-icons-outlined">home</i> Home
              </a>
            </li>
          {{/if}}
           <li class="nav-item {{pods}}">
            <a class="nav-link" href="/pods" onclick="">
              <i class="material-icons-outlined">storage</i> Pods
            </a>
          </li>
          <li class="nav-item {{consents}}">
            <a class="nav-link" href="/consents">
              <i class="material-icons-outlined">assignment_turned_in</i> Consents
            </a>
          </li>
          <li class="nav-item {{cages}}">
            <a class="nav-link" href="/cages">
              <i class="material-icons-outlined">policy</i> Cages
            </a>
          </li>
          <li class="nav-item {{docs}}">
            <a class="nav-link" href="https://documenter.getpostman.com/view/7257320/SzYT52Me" onclick="" target="_blank">
              <i class="material-icons-outlined">notes</i> API Docs
            </a>
          </li>
        </ul>
        {{#if user}}
        <ul class="navbar-nav ml-auto">
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="material-icons">account_circle</i> {{user.id}}
              {{#ifOr session.applicationAccessToken session.applicationUserId session.applicationUserAccessToken session.podTypeId}}
              <br/>
              <span class="badge badge-pill badge-warning">&nbsp;&nbsp;<i class="material-icons">warning</i>Environment not initialized</span>
               {{/ifOr}}
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a href="/auth/applications/applicationToken" class="dropdown-item">
                {{#if session.applicationAccessToken}}
                  <span class="badge badge-pill badge-success"><i class="material-icons">done</i>Application token&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                {{else}}
                  <span class="badge badge-pill badge-warning"><i class="material-icons">warning</i>Application token&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                {{/if}}
              </a>
              <a href="/auth/applications/userCreation" class="dropdown-item">
                {{#if session.applicationUserId}}
                  <span class="badge badge-pill badge-success"><i class="material-icons">done</i>Default user&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                {{else}}
                  <span class="badge badge-pill badge-warning"><i class="material-icons">warning</i>Default user&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                {{/if}}
              </a>
              <a href="/auth/applications/userToken" class="dropdown-item">
                {{#if session.applicationUserAccessToken}}
                  <span class="badge badge-pill badge-success"><i class="material-icons">done</i>User token&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                {{else}}
                  <span class="badge badge-pill badge-warning"><i class="material-icons">warning</i>User token&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                {{/if}}
              </a>
              <a href="/auth/pods" class="dropdown-item">
                {{#if session.podTypeId}}
                  <span class="badge badge-pill badge-success"><i class="material-icons">done</i>Pod type&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                {{else}}
                  <span class="badge badge-pill badge-warning"><i class="material-icons">warning</i>Pod type&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                {{/if}}
              </a>
              <a href="/auth/logout" class="dropdown-item">
                <i class="material-icons">apps</i> Applications
              </a>  
              <a href="/auth/logout" class="dropdown-item">
                <i class="material-icons">power_settings_new</i> Logout
              </a>
            </div>
          </li>
        </ul>
        {{else}}
        <li class="navbar-nav ml-auto">
          <a href="/login" class="btn btn-primary"><i class="material-icons">account_circle</i>&nbsp;&nbsp;Login</a>&nbsp;<a href="/login" class="btn btn-primary">Sign up</a>
        </li>
          {{/if}}
      </div>
    </div>
  </nav>
      <!-- End Navbar -->