<h4><i>Select consent receipt and the range dates for which you want to <b>import test user data</b></i>.</h4>
<form method="POST" target="importDataResponseiFrame" action="/auth/workbench/import">
<div class="request">
    <div class="request-parameters">
        <select class="form-control selectpicker" data-style="btn btn-link" id="consentReceiptSelected" name="consentReceiptSelected" onchange="modifyRequestPayload(this.id,this.value)">
            <option>{{#if session.applicationAccessToken}}Select consent receipt{{else}}To get the list, first get your application access token{{/if}}</option>
            {{#each consentReceiptsList.consentReceipts}}
                <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
        <br/>
        <div class="form-group">
            <label class="label-control">Date range</label>
            <input type="text" class="form-control" name="importRange" id="importRange" value="01/01/2018 - 01/15/2018" />
            <input type="hidden" name="importStartDate" id="importStartDate" value="" />
            <input type="hidden" name="importEndDate" id="importEndDate" value="" />
        </div>
    </div>
    <div class="request-payload">
            <pre>
<code class="javascript">
var request = require('request');
var options = {
  'method': 'GET',
  'url': 'https://api.datavillage.me/cages/<span id="consentReceiptSelectedRequest"></span>/importData?startDate=<span id="importRangeStartDateRequest"></span>&amp;endDate=<span id="importRangeEndDateRequest"></span>',
  'headers': {
    'Authorization': 'Bearer {{#if session.applicationAccessToken}}{{session.applicationAccessToken}}{{else}}APPLICATION_ACCESS_TOKEN{{/if}}'
  }
};
request(options, function (error, response) { 
  if (error) throw new Error(error);
  console.log(response.body);
});
</code>
</pre>
    </div>
</div>
<h4><b>Test this endpoint</b></h4>
{{#if session.applicationUserAccessToken}}
    <button type="submit" class="btn btn-primary">Try &amp; import test user data</button>
{{else}}
To try this enpoint, first <a href="/auth/pods/userToken">get your user access token</a>
{{/if}}
</form>
<iframe class="response-payload" style="height:0px" id="importDataResponseiFrame" name="importDataResponseiFrame"></iframe> 

<script type="text/javascript">

$(function() {
    var start = moment().subtract(29, 'days');
    var end = moment();


    function cb(start, end) {
        $('#importRange').val(start.format('DD MMMM YYYY') + ' - ' + end.format('DD MMMM YYYY'));
        modifyRequestPayloadImport('importRange',start,end)
    }

    $('#importRange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);
    cb(start, end);
});
function modifyRequestPayload(id,value){
    payloadRequestElement=document.getElementById(id+"Request");
    payloadRequestElement.innerText=value;
}  

function modifyRequestPayloadImport(id,start,end){
    formImportStartDate=document.getElementById('importStartDate');
    formImportStartDate.value=start.format('YYYY-MM-DD');
    formImportEndDate=document.getElementById('importEndDate');
    formImportEndDate.value=end.format('YYYY-MM-DD');
    payloadRequestStartDateElement=document.getElementById(id+"StartDateRequest");
    payloadRequestStartDateElement.innerText=start.format('YYYY-MM-DD');
    payloadRequestEndDateElement=document.getElementById(id+"EndDateRequest");
    payloadRequestEndDateElement.innerText=end.format('YYYY-MM-DD');
} 
</script>