<div>
    <h2><b>Apps</b>
    {{#if application}}
    ({{application.name}} - {{application.url}})
{{/if}}
</h2>
    </div>
<hr/>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" class="row justify-content-center">
            {{#if application}}
            <div class="card text-left" style="width: 100%;">
                <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="form-group">
                            <h3><b>App Id:</b> 
                            <div class="input-group">
                            <input class="form-control" id="clientId" readonly="true" value="{{application.clientId}}">
                            <div class="input-group-addon">
                                
                                &nbsp;<a href="javascript:copyToClipboard('clientId')" data-clipboard-target="#clientId"><i class="material-icons-outlined text-primary" aria-hidden="true">file_copy</i></a>
                            </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <h3><b>App Secret:</b> 
                            <div class="input-group">
                            <input class="form-control" id="clientSecret" readonly="true" type="password" value="{{application.clientSecret}}">
                            <div class="input-group-addon">
                                
                                &nbsp;<a href="javascript:copyToClipboard('clientSecret')"><i class="material-icons-outlined text-primary" aria-hidden="true">file_copy</i></a>
                            </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <h3><b>App URL:</b> 
                            <div class="input-group">
                            <input class="form-control" id="url" readonly="true" value="{{application.url}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <h3><b>Allowed Callback URL's:</b> 
                            <div class="input-group">
                            <input class="form-control" id="clientCallbacks" readonly="true" value="{{application.callbacks}}">
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
            </div>
            <div class="card text-left" style="width: 100%;">
                <div class="card-body">
                        <h2 class="card-subtitle mb-2 "><b>Quickstart</b></h2>
                        <p class="card-text">
                            <h4>Integrate rapidly into your application by following the steps below.<br/> <br/> 
                            The <i>Datavillage's User-Centric Personal Data Management Platform</i> allows you to process data of your users and extract behaviors. Through <a href="/auth/pods"><b>Pods</b></a>, <a href="/auth/consents"><b>Consents</b></a> and <a href="/auth/cages"><b>Cages</b></a>, you process personal data while ensuring privacy and control from your users.
                            </h4>
                        </p>
                        <br/>
                        
                        <ul class="nav nav-pills nav-pills-icons" role="tablist">
                            <li class="nav-item"><a class="nav-link {{#if applicationToken}}active{{/if}}" href="/auth/applications/applicationToken"><i class="material-icons">looks_one</i>Get app token</a></li>
                            <li class="nav-item"><a class="nav-link {{#if userCreation}}active{{/if}}" href="/auth/applications/userCreation"><i class="material-icons">looks_two</i>Default user</a></li>
                            <li class="nav-item"><a class="nav-link {{#if userToken}}active{{/if}}" href="/auth/applications/userToken"><i class="material-icons">looks_3</i>Get user token</a></li>
                        </ul>
                        <hr/>
                        {{#if applicationToken}}
{{> application-token}}
                        {{/if}}
                        {{#if userCreation}}
{{> application-user-creation}}
                        {{/if}}
                        {{#if userToken}}
{{> application-user-token}}
                        {{/if}}
                        </div>
                        
                </div>
            </div>
            {{else}}
            <div class="card text-center" style="width: 100%;">
                <div class="card-body">
                    <img  style="width:15%;" src="/img/icons/app.png" rel="nofollow" alt="Card image cap">
                    <h2 >Create your first app</h2>
                    <p class="card-text">
                        <h4>Create your first application "privacy by design" and give your users a way to acquire their personal data so they can create and control their own “digital profile”.</h4>
                        <a href="/auth/applications/form" class="btn btn-primary"><i class="material-icons" style="font-size:28px">apps</i>&nbsp;&nbsp;&nbsp;Create app</a>
                    </p>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>
<script>
function copyToClipboard(id) {
    /* Get the text field */
    var copyText = document.getElementById(id);

    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /*For mobile devices*/

    /* Copy the text inside the text field */
    document.execCommand("copy");
}

</script>