<div>
    <h2><b>Apps</b>
    {{#if application}}
    ({{application.name}} - {{application.url}})
{{/if}}
</h2>
    </div>
<hr/>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" class="row justify-content-center">
            {{#if application}}
            <div class="card text-left" style="width: 100%;">
                <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="form-group">
                            <h3><b>App Id:</b> 
                            <div class="input-group">
                            <input class="form-control" id="clientId" readonly="true" value="{{application.clientId}}">
                            <div class="input-group-addon">
                                
                                &nbsp;<a href="javascript:copyToClipboard('clientId')" data-clipboard-target="#clientId"><i class="material-icons-outlined text-primary" aria-hidden="true">file_copy</i></a>
                            </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <h3><b>App Secret:</b> 
                            <div class="input-group">
                            <input class="form-control" id="clientSecret" readonly="true" type="password" value="{{application.clientSecret}}">
                            <div class="input-group-addon">
                                
                                &nbsp;<a href="javascript:copyToClipboard('clientSecret')"><i class="material-icons-outlined text-primary" aria-hidden="true">file_copy</i></a>
                            </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <h3><b>Allowed Callback URL's:</b> 
                            <div class="input-group">
                            <input class="form-control" id="clientCallbacks" readonly="true" value="{{application.callbacks}}">
                            <div class="input-group-addon">
                                
                                &nbsp;<a href="javascript:copyToClipboard('clientCallbacks')"><i class="material-icons-outlined text-primary" aria-hidden="true">file_copy</i></a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
            </div>
            <div class="card text-left" style="width: 100%;">
                <div class="card-body">
                        <h2 class="card-subtitle mb-2 "><b>Quickstart</b></h2>
                        <p class="card-text">
                            <h4>Integrate rapidly into your application by following the steps below.<br/> <br/> 
                            The <i>Datavillage's User-Centric Personal Data Management Platform</i> allows you to process data of your users and extract behaviors. Through <a href="/auth/pods"><b>Pods</b></a>, <a href="/auth/consents"><b>Consents</b></a> and <a href="/auth/cages"><b>Cages</b></a>, you process personal data while ensuring privacy and control from your users.
                            </h4>
                        </p>
                        <br/>
                        <h4><b>First</b>, get your application access token (limited lifetime, you can decode token at <a href="https://jwt.io/">jwt.io</a>).</h4>
                        <ul class="nav nav-pills nav-pills-icons nav-pills-secondary">
                            <li class="nav-item"><a class="nav-link active" href="#pill1" data-toggle="tab">Node JS</a></li>
                            <li class="nav-item"><a class="nav-link" href="#pill2" data-toggle="tab">Python</a></li>
                            <li class="nav-item"><a class="nav-link" href="#pill3" data-toggle="tab">Java</a></li>
                        </ul>
                        <div class="tab-content tab-space">
                             <div class="tab-pane active" id="pill1">
                            
<pre>
<code class="javascript">
    var request = require('request');
    var options = {
    'method': 'POST',
    'url': 'https://api.datavillage.me/oauth/token',
    'headers': {
        'Content-Type': ['application/x-www-form-urlencoded', 'application/x-www-form-urlencoded']
    },
    form: {
        'client_id': '{{application.clientId}}',
        'client_secret': 'YOUR_APPLICATION_SECRET'
    }
    };
    request(options, function (error, response) { 
    if (error) throw new Error(error);
    console.log(response.body);
    });
</code>
</pre>
                        </div>
                            <div class="tab-pane" id="pill2">
<pre>
<code class="python">
import requests

url = "https://api.datavillage.me/oauth/token"

payload = 'client_id={{application.clientId}}&amp;client_secret=YOUR_APPLICATION_SECRET'
headers = {
  'Content-Type': 'application/x-www-form-urlencoded',
  'Content-Type': 'application/x-www-form-urlencoded'
}

response = requests.request("POST", url, headers=headers, data = payload)

print(response.text.encode('utf8'))
</code>
</pre> 
                         </div>
                            <div class="tab-pane" id="pill3">
<pre>
<code class="java">
OkHttpClient client = new OkHttpClient().newBuilder()
  .build();
MediaType mediaType = MediaType.parse("application/x-www-form-urlencoded,application/x-www-form-urlencoded");
RequestBody body = RequestBody.create(mediaType, "client_id={{application.clientId}}&amp;client_secret=YOUR_APPLICATION_SECRET");
Request request = new Request.Builder()
  .url("https://api.datavillage.me/oauth/token")
  .method("POST", body)
  .addHeader("Content-Type", "application/x-www-form-urlencoded")
  .addHeader("Content-Type", "application/x-www-form-urlencoded")
  .build();
Response response = client.newCall(request).execute();
</code>
</pre>
                            </div>
                            <h4><b>Test this endpoint</b></h4>
                            <form method="POST" action="/auth/applications/test/oauth/token">
                                <input type="hidden" name="clientId" value="{{application.clientId}}"/>
                                <input type="hidden" name="clientSecret" value="{{application.clientSecret}}"/>
                                <button type="submit" class="btn btn-primary">Try</button>
                            </form>
                            {{#if application.applicationAccessTokenResponse}}
Response:                     
<pre>
<code class="json">
{{application.applicationAccessTokenResponse}}
</code>
</pre>
                            {{/if}}
                            <hr/>
                            <h4><b>Second</b>, create a user each time new user is created into your application and get user identifiers. The user creation is limited to one single user by application in the <span class="badge badge-pill badge-primary">BETA</span> version.</h4>
                        <ul class="nav nav-pills nav-pills-icons nav-pills-secondary">
                            <li class="nav-item"><a class="nav-link active" href="#pill11" data-toggle="tab">Node JS</a></li>
                            <li class="nav-item"><a class="nav-link" href="#pill12" data-toggle="tab">Python</a></li>
                            <li class="nav-item"><a class="nav-link" href="#pill13" data-toggle="tab">Java</a></li>
                        </ul>
                        <div class="tab-content tab-space">
                             <div class="tab-pane active" id="pill11">
                            
<pre>
<code class="javascript">
var request = require('request');
var options = {
  'method': 'POST',
  'url': 'https://api.datavillage.me/users/',
  'headers': {
    'Content-Type': 'application/json',
    'Authorization': 'Bearer {{application.applicationAccessToken}}'
  }
};
request(options, function (error, response) { 
  if (error) throw new Error(error);
  console.log(response.body);
});
    });
</code>
</pre>
                        </div>
                            <div class="tab-pane" id="pill12">
<pre>
<code class="python">
import requests

url = "https://api.datavillage.me/users/"

payload  = {}
headers = {
  'Content-Type': 'application/json',
  'Authorization': 'Bearer {{application.applicationAccessToken}}'
}

response = requests.request("POST", url, headers=headers, data = payload)

print(response.text.encode('utf8'))
</code>
</pre> 
                         </div>
                            <div class="tab-pane" id="pill13">
<pre>
<code class="java">
OkHttpClient client = new OkHttpClient().newBuilder()
  .build();
MediaType mediaType = MediaType.parse("application/json");
RequestBody body = RequestBody.create(mediaType, "");
Request request = new Request.Builder()
  .url("https://api.datavillage.me/users/")
  .method("POST", body)
  .addHeader("Content-Type", "application/json")
  .addHeader("Authorization", "Bearer {{application.applicationAccessToken}}")
  .build();
Response response = client.newCall(request).execute();
</code>
</pre> 
                            </div>
                            <h4><b>Test this endpoint</b></h4>
                            {{#if application.applicationAccessTokenCreated}}
                            <form method="POST" action="/auth/applications/test/users">
                                <input type="hidden" name="applicationAccessToken" value="{{application.applicationAccessToken}}"/>
                                <button type="submit" class="btn btn-primary">Try</button>
                            </form>
                            {{else}}
                            To try this enpoint, first get your application access token
                            {{/if}}
                            
                            {{#if application.userCreated}}
Response:                     
<pre>
<code class="json">
{{application.userCreated}}
</code>
</pre>
                            {{/if}}
                            <hr/>
                            <center><a href="/auth/pods" class="btn btn-primary"><i class="material-icons" style="font-size:28px">storage</i>&nbsp;&nbsp;&nbsp;Next - Select Pods</a></center>
                        </div>
                        
                </div>
            </div>
            {{else}}
            <div class="card text-center" style="width: 100%;">
                <div class="card-body">
                    <img  style="width:15%;" src="/img/icons/app.png" rel="nofollow" alt="Card image cap">
                    <h2 >Create your first app</h2>
                    <p class="card-text">
                        <h4>Create your first application "privacy by design" and give your users a way to acquire their personal data so they can create and control their own “digital profile”.</h4>
                        <a href="/auth/applications/form" class="btn btn-primary"><i class="material-icons" style="font-size:28px">apps</i>&nbsp;&nbsp;&nbsp;Create app</a>
                    </p>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>
<script>
function copyToClipboard(id) {
    /* Get the text field */
    var copyText = document.getElementById(id);

    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /*For mobile devices*/

    /* Copy the text inside the text field */
    document.execCommand("copy");
}

</script>