<div>
    <h2><b>Consents - Manage consent receipts</b></h2>
    </div>
<hr/>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" class="row justify-content-center">
            <div class="card text-left" style="width: 100%;">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-10">
                            <div class="form-group">
                                {{#if consentReceiptsList.consentReceipts}}
                                    <h3><b>List of consent receipts created:</b> 
                                    <br/>
                                    {{#if session.applicationAccessToken}}
                                        <ul class="list-group">
                                        {{#each consentReceiptsList.consentReceipts}}
                                            <li class="list-group-item"><div class="input-group">
                                                {{this.name}}:&nbsp;
                                                <input class="form-control" id="consentReceipt{{this.id}}" readonly="true" value="{{this.id}}">
                                                <div class="input-group-addon">
                                                    &nbsp;<a href="javascript:copyToClipboard('consentReceipt{{this.id}}')" data-clipboard-target="#consentReceipt{{this.id}}"><i class="material-icons-outlined text-primary" aria-hidden="true">file_copy</i></a>
                                                </div>
                                                </div>
                                            </li>
                                        {{/each}}
                                        </ul>
                                    {{else}}
                                        <br/>To get the list, first <a href="/auth/applications/applicationToken">get your application access token</a>
                                    {{/if}}
                                {{else}}
                                    <h3><b>No consent receipt created</b> 
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card text-left" style="width: 100%;">
                <div class="card-body ">
                    <h2 class="card-subtitle mb-2 "><b>Quickstart</b></h2>
                    <p class="card-text">
                        <h4>Consents receipts are created and managed by your organisation. The attributes from consent receipt are shared with the user during the consent acknowledgement flow to build the trust between your organisation and your users. The proof of creation by your organisation is not available in <span class="badge badge-pill badge-primary">BETA</span> version.</h4>
                        <br/>
                        
                         <ul class="nav nav-pills nav-pills-icons" role="tablist">
                            <li class="nav-item"><a class="nav-link {{#if creation}}active{{/if}}" href="/auth/consents/form/creation"><i class="material-icons">looks_one</i>Create consent receipt</a></li>
                            <li class="nav-item"><a class="nav-link {{#if read}}active{{/if}}" href="/auth/consents/form/read"><i class="material-icons">looks_two</i>Read consent receipt</a></li>
                            <li class="nav-item"><a class="nav-link {{#if activate}}active{{/if}}" href="/auth/consents/form/activate"><i class="material-icons">looks_3</i>Activate consent receipt</a></li>
                            
                        </ul>
                        <hr/>
                        {{#if creation}}
{{> consent-create}}
                        {{/if}}
                        {{#if read}}
{{> consent-read}}
                        {{/if}}
                        {{#if activate}}
{{> consent-activate}}
                        {{/if}}
                        </div>
                                    </div>
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<script>
    function modifyRequestPayload(id,value){
        payloadRequestElement=document.getElementById(id+"Request");
        payloadRequestElement.innerText=value;
    }
    
</script>