<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-8" class="row justify-content-center">
            <center>
                <h3><i class="material-icons-outlined" style="font-size:48px;color:#ff4081">verified_user</i><br/>Privacy center</h3>
                Review key settings &amp; the data <b>{{session.companyName}}</b> uses to personalize your experience.
            </center>
            <div class="card" >
                <div class="card-body">
                    <h3>{{consentReceipt.name}}</h3>
                    <h5>{{consentReceipt.purpose}}</h5>
                    <hr/>
                    <center>
                        <div id="graph"></div>
                    </center>
                    <br/>
                    <h5>To be able to {{consentReceipt.description}}, we will use your </h5>
                    <ul>
                    {{#each dataSources.sources}}
                    <li><h5><b>{{this.name}}</b></h5>
                    {{#each this.forPersonalCategories}}
                        <ul><li>{{this.name}}</li></ul>
                    {{/each}}
                    </li>
                    {{/each}}
                    </ul>
                    
                    
                    <center>
                    {{#ifConsentActif consents consentReceipt.id}}
                        <form name="revokeConsent" action="{{actionRevokeConsent}}" method="Post">
                            <input type="hidden" name="client_id" value="{{session.clientId}}"/>
                            <input type="hidden" name="client_secret" value="{{session.clientSecret}}"/>
                            <input type="hidden" name="redirect_uri" value="{{callback}}"/>
                            <input type="hidden" name="scope" value="{{consentReceiptUri}}"/>
                            <input type="hidden" name="user_id" value="{{userId}}"/>
                            <input type="submit" class="btn btn-success" style="background-color:#ff4081" value="I want to revoke {{consentReceipt.name}}"/>
                        </form>
                    {{else}}
                        <a href="{{actionActivateConsent}}" class="btn btn-success" style="background-color:#ff4081">I authorize {{consentReceipt.name}}</a>
                    {{/ifConsentActif}}
                    </center>
                    <hr/>
                    <div class="row">
                        <div class="col-lg-1 align-self-center"><i class="material-icons-outlined" style="font-size:32px;color:#ff4081">verified_user</i></div>
                        <div class="col-lg-11 align-self-center"><i>All your personal data is under your control. {{session.companyName}} can only process your data with your explicit consent. We never obtain and store this data on our systems and it will never be used for purposes other than those agreed here. </i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    {{#if refreshOpener}}
    window.opener.location.reload();
    {{/if}}
   

    function init() {
                var neo4jd3 = new Neo4jd3('#graph', {
                    highlight: [
                        {
                            class: 'Project',
                            property: 'name',
                            value: 'neo4jd3'
                        }, {
                            class: 'User',
                            property: 'userId',
                            value: 'person'
                        }
                    ],
                    icons: {
                        'User': 'user',
                    },
                    images: {
                        {{#each dataSources.sources}}
                        '{{this.id}}': 'https://passport.datavillage.me/img/logo/{{this.id}}.png',
                        {{/each}}
                    },
                    colors:[
                        '#ff4081', // datavillage
                        {{#each dataSources.sources}}
                        '#FFFFFF',
                        {{/each}}
                    ],
                    minCollision: 60,
                    neo4jDataUrl: '/auth/workbench/privacyCenter/graph',
                    nodeRadius: 30,
                    zoomFit: false
                });
            }

            window.onload = init;
</script>
