          <div>
        <h2><b>Workbench</b>
        {{#if hasConsentReceipts}}
            <select class="form-control"  id="consentReceiptSelected" name="consentReceiptSelected" onchange="selectConsentReceipt(this);">
                <option value="empty">Select consent receipt you want to use in your workbench</option>
                {{#each consentReceiptsList.consentReceipts}}
                    <option value="{{this.id}}" {{#ifEqual this.id ../session.workbenchConsentReceiptSelected}}selected{{/ifEqual}}>{{this.name}}</option>
                {{/each}}
            </select>
        {{/if}}
        </h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" class="row justify-content-center">
            {{#if hasConsentReceipts}}
            <div class="card text-center" style="width: 100%;">
                <div class="card-body">
                    <br/> 
                    <div class="row">
                        <div class="col-md-3">
                            <ul class="nav nav-pills nav-pills-icons" role="tablist" flex-column>
                                <li class="nav-item">
                                    <a class="nav-link {{consentTab}}" href="#consent" role="tab" data-toggle="tab">
                                        <i class="material-icons">verified_user</i>
                                        Get Consent
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {{dataTab}}" href="#data" role="tab" data-toggle="tab">
                                        <i class="material-icons">import_export</i>
                                        Import Data
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {{algorithmTab}}" href="#algorithm" role="tab" data-toggle="tab">
                                        <i class="material-icons">blur_on</i>
                                        Process Data
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-9">
                            <div class="tab-content">
                                <div class="tab-pane {{consentTab}}" id="consent">
                                    <img  style="width:10%;" src="/img/icons/privacy-center.png" rel="nofollow" alt="Card image cap">
                                    <h2>Get user's consent</h2>
                                    <p class="card-text">
                                        <h4>Start the Data Passport wizard and get consent from your test user.</h4>
                                        <br/>
                                        {{#if session.workbenchConsentReceiptSelected}}
                                        <a href="{{actionActivateConsent}}" class="btn btn-primary ld-ext-right hovering" onmouseover="this.classList.add('running')"><i class="material-icons" style="font-size:28px">verified_user</i>&nbsp;&nbsp;&nbsp;Get consent</a>
                                        {{else}}
                                        <h4>First, select consent receipt!</h4>
                                        <span class="btn btn-secondary" style><i class="material-icons" style="font-size:28px">verified_user</i>&nbsp;&nbsp;&nbsp;Get consent</span>
                                        {{/if}}
                                    </p>
                                </div>
                                <div class="tab-pane {{dataTab}}" id="data">
                                            <img  style="width:10%;" src="/img/icons/import.png" rel="nofollow" alt="Card image cap">
                                            <h2>Import data</h2>
                                            <p class="card-text">
                                                <h4>Import the data related to the selected consent receipt. Do it once, the data will remain stored in the test user's personal data store.<br/><br/></h4>
                                                {{#if session.applicationUser}}
                                                <form method="POST" action="/auth/workbench/import">
                                                    <div class="request-parameters">
                                                        <div class="form-group">
                                                            <label class="label-control">Date range (not always required)</label>
                                                            <input type="text" class="form-control" name="importRange" id="importRange" value="01/01/2018 - 01/15/2018" />
                                                            <input type="hidden" name="importStartDate" id="importStartDate" value="" />
                                                            <input type="hidden" name="importEndDate" id="importEndDate" value="" />
                                                        </div>
                                                    </div>
                                                    {{#if dataImported}}
                                                    <h4>Data imported into user's personal data store !</h4>
                                                    {{/if}}
                                                    <button type="submit" class="btn btn-primary"><i class="material-icons" style="font-size:28px">import_export</i>&nbsp;&nbsp;&nbsp;Import data</button>
                                                </form>
                                                {{else}}
                                                <h4>First, select consent receipt and get user's consent !</h4>
                                                <span class="btn btn-secondary" style><i class="material-icons" style="font-size:28px">import_export</i>&nbsp;&nbsp;&nbsp;Import data</span>
                                                {{/if}}
                                            </p>
                                    <!--<div class="card text-center" style="width: 100%;">
                                        <div class="card-body">
                                            <img  style="width:10%;" src="/img/icons/atom.png" rel="nofollow" alt="Card image cap">
                                            <h2 >Explore data</h2>
                                            <p class="card-text">
                                                <h4>Second, enrich data with available modules, extract value and insights through graphQL API's.<br/><br/></h4>
                                                {{#if session.applicationUser}}
                                                    <a href="/auth/workbench/load" target="_blank" class="btn btn-primary"><i class="material-icons" style="font-size:28px">bubble_chart</i>&nbsp;&nbsp;&nbsp;Load &amp; explore data</a>
                                                {{else}}
                                                <h4>First, select consent receipt and get user's consent !</h4>
                                                <span class="btn btn-secondary" style><i class="material-icons" style="font-size:28px">bubble_chart</i>&nbsp;&nbsp;&nbsp;Load &amp; explore data</span>
                                                {{/if}}
                                            </p>
                                        </div>
                                    </div>-->
                                </div>
                                <div class="tab-pane {{algorithmTab}}" id="algorithm">
                                    <img  style="width:10%;" src="/img/icons/workbench.png" rel="nofollow" alt="Card image cap">
                                    <h2 >Process data</h2>
                                    <p class="card-text">
                                        <h4>Quickly build and test your algorithm within your Data Cage.<br/><br/></h4>
                                        {{#if session.applicationUser}}
                                            <h5>Copy your <b>user access token</b> to initiate Jupyter Notebook working session:</h5> 
                                            <div class="input-group">
                                            <input class="form-control" id="accessToken" readonly="true" type="password" value="{{applicationUserAccessToken}}">
                                            <div class="input-group-addon">
                                                
                                                &nbsp;<a href="javascript:copyToClipboard('accessToken')"><i class="material-icons-outlined text-primary" aria-hidden="true">file_copy</i></a>
                                            </div>
                                            </div>
                                            <br/><br/>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-lg-6"><a href="http://{{session.cageUrl}}:8888" target="_blank" class="btn btn-primary"><i class="material-icons" style="font-size:28px">blur_on</i>&nbsp;&nbsp;&nbsp;Open notebook</a><br/>with <img width="48px" src="/img/logo/jupyter.png"/></div>
                                                    <div class="col-lg-6"><a href="http://{{session.cageUrl}}:7474/browser" target="_blank" class="btn btn-primary"><i class="material-icons" style="font-size:28px">blur_on</i>&nbsp;&nbsp;&nbsp;Open graph</a><br/>with <img width="98px" src="/img/logo/neo4j.png"/> </div>
                                                </div>
                                            </div>
                                        {{else}}
                                        <h4>First, select consent receipt and get user's consent !</h4>
                                        <span class="btn btn-secondary" style><i class="material-icons" style="font-size:28px">blur_on</i>&nbsp;&nbsp;&nbsp;Process data</span> 
                                        {{/if}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
            {{else}}
            <div class="card text-center" style="width: 100%;">
                <div class="card-body">
                    <img  style="width:15%;" src="/img/icons/workbench.png" rel="nofollow" alt="Card image cap">
                    <h2 >Data workbench</h2>
                    <p class="card-text">
                        <h4>First you need to create a consent receipt. Do it via the <a href="/auth/consents">Consent menu item</a> or select button here below.<br/><br/></h4>
                        {{#if session.clientId}}
                        <a href="/auth/consents/form" class="btn btn-primary"><i class="material-icons" style="font-size:28px">assignment_turned_in</i>&nbsp;&nbsp;&nbsp;Create consent receipt</a>
                        {{else}}
                        <h4>First you need to <b>create an app</b>. Do it via the <a href="/auth/applications">App menu item</a>.<br/><br/></h4>
                        <a href="/auth/applications/form" class="btn btn-primary"><i class="material-icons" style="font-size:28px">apps</i>&nbsp;&nbsp;&nbsp;Create app</a>                  
                        {{/if}}
                    </p>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>
<script>
    $(function() {
        var start = moment().subtract(29, 'days');
        var end = moment();


        function cb(start, end) {
            $('#importRange').val(start.format('DD MMMM YYYY') + ' - ' + end.format('DD MMMM YYYY'));
            document.getElementById("importStartDate").value=start.format('YYYY-MM-DD');
            document.getElementById("importEndDate").value=end.format('YYYY-MM-DD');
        }

        $('#importRange').daterangepicker({
            startDate: start,
            endDate: end,
            locale: {
                format: 'DD MMM YYYY'
            },
            ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);
        cb(start, end);
    });

    function selectConsentReceipt(element){
        if(element.value!="empty")
            window.location="/auth/workbench/selectConsentReceipt?consentReceiptSelected="+element.value;
    }


function copyToClipboard(id) {
    /* Get the text field */
    var copyText = document.getElementById(id);
    var changeType=false;
    if(copyText.type=="password"){
        changeType=true;
        copyText.type="text;"
    }

    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /*For mobile devices*/
    /* Copy the text inside the text field */
    document.execCommand("copy");
    if(changeType)
        copyText.type="password"
}
</script>