          <div>
        <h2><b>Workbench</b>
        {{#if hasConsentReceipts}}
            <select class="form-control selectpicker" data-style="btn btn-link" id="consentReceiptSelected" name="consentReceiptSelected" onchange="selectConsentReceipt(this);">
                <option value="empty">Select consent receipt you want to use in your workbench</option>
                {{#each consentReceiptsList.consentReceipts}}
                    <option value="{{this.id}}" {{#ifEqual this.id ../session.workbenchConsentReceiptSelected}}selected{{/ifEqual}}>{{this.name}}</option>
                {{/each}}
            </select>
        {{/if}}
        </h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" class="row justify-content-center">
            {{#if hasConsentReceipts}}
            <div class="card text-center" style="width: 100%;">
                <div class="card-body">
                    <br/> 
                    <div class="row">
                        <div class="col-md-2">
                            <ul class="nav nav-pills nav-pills-icons" role="tablist" flex-column>
                                <li class="nav-item">
                                    <a class="nav-link {{consentTab}}" href="#consent" role="tab" data-toggle="tab">
                                        <i class="material-icons">verified_user</i>
                                        Consent
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {{dataTab}}" href="#data" role="tab" data-toggle="tab">
                                        <i class="material-icons">policy</i>
                                        Data
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {{algorithmTab}}" href="#algorithm" role="tab" data-toggle="tab">
                                        <i class="material-icons">blur_on</i>
                                        Algorithm
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-10">
                            <div class="tab-content">
                                <div class="tab-pane {{consentTab}}" id="consent">
                                    <img  style="width:10%;" src="/img/icons/privacy-center.png" rel="nofollow" alt="Card image cap">
                                    <h2>Get user's consent</h2>
                                    <p class="card-text">
                                        <h4>Engage your users with trust and make privacy your application differentiator. Give your users the ability to manage consents in a user-friendly way.</h4>
                                        <br/>
                                        {{#if session.workbenchConsentReceiptSelected}}
                                        <a href="/auth/workbench/privacyCenter/createWidget" target="_blank" class="btn btn-primary ld-ext-right hovering" onmouseover="this.classList.add('running')"><i class="material-icons" style="font-size:28px">verified_user</i>&nbsp;&nbsp;&nbsp;Generate privacy center</a>
                                        {{else}}
                                        <h4>First, select consent receipt!</h4>
                                        <span class="btn btn-light" style><i class="material-icons" style="font-size:28px">verified_user</i>&nbsp;&nbsp;&nbsp;Generate privacy center</span>
                                        {{/if}}
                                    </p>
                                </div>
                                <div class="tab-pane {{dataTab}}" id="data">
                                    <img  style="width:10%;" src="/img/icons/cage.png" rel="nofollow" alt="Card image cap">
                                    <h2 >Import data into the cage</h2>
                                    <p class="card-text">
                                        <h4>Easily configure your enclave to deploy and protect the integrity of your code. Ensure full control of data throughout its lifetime.<br/><br/></h4>
                                        {{#if session.applicationUser}}
                                        <form method="POST" action="/auth/workbench/import" target="_blank">
                                            <div class="request-parameters">
                                                <div class="form-group">
                                                    <label class="label-control">Date range</label>
                                                    <input type="text" class="form-control" name="importRange" id="importRange" value="01/01/2018 - 01/15/2018" />
                                                    <input type="hidden" name="importStartDate" id="importStartDate" value="" />
                                                    <input type="hidden" name="importEndDate" id="importEndDate" value="" />
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary"><i class="material-icons" style="font-size:28px">policy</i>&nbsp;&nbsp;&nbsp;Import &amp; explore data</button>
                                        </form>
                                        {{else}}
                                        <h4>First, select consent receipt and get user's consent !</h4>
                                        <span class="btn btn-light" style><i class="material-icons" style="font-size:28px">policy</i>&nbsp;&nbsp;&nbsp;Import &amp; explore data</span>
                                        {{/if}}
                                    </p>
                                </div>
                                <div class="tab-pane {{algorithmTab}}" id="algorithm">
                                    <img  style="width:10%;" src="/img/icons/workbench.png" rel="nofollow" alt="Card image cap">
                                    <h2 >Explore data &amp; create algorithm</h2>
                                    <p class="card-text">
                                        <h4>Unlock the value of your user's personal data with our interactive IDE. Quickly build and test your algorithm through graphQL API's and integrated SDK.<br/><br/></h4>
                                        {{#if session.applicationUser}}
                                            <h5>Copy your <b>user access token</b> to initiate Colab working session:</h5> 
                                            <div class="input-group">
                                            <input class="form-control" id="accessToken" readonly="true" type="password" value="{{applicationUserAccessToken}}">
                                            <div class="input-group-addon">
                                                
                                                &nbsp;<a href="javascript:copyToClipboard('accessToken')"><i class="material-icons-outlined text-primary" aria-hidden="true">file_copy</i></a>
                                            </div>
                                            </div>
                                            <br/><br/>
                                        <a href="https://colab.research.google.com/drive/1rKVZtmvQ-ECT8izzNf73Mair2t-uwSVO?usp=sharing" target="_blank" class="btn btn-primary"><i class="material-icons" style="font-size:28px">blur_on</i>&nbsp;&nbsp;&nbsp;Create notebook &amp; write algorithm</a> with <img style="width:48px" src="/img/colab.png"/> <span style="color:#FEB60D">(Google Colab)</span>
                                        {{else}}
                                        <h4>First, select consent receipt and get user's consent !</h4>
                                        <span class="btn btn-light" style><i class="material-icons" style="font-size:28px">blur_on</i>&nbsp;&nbsp;&nbsp;Create notebook &amp; write algorithm</span> with <img style="width:48px" src="/img/colab.png"/> <span style="color:#FEB60D">(Google Colab)</span>
                                        {{/if}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
            {{else}}
            <div class="card text-center" style="width: 100%;">
                <div class="card-body">
                    <img  style="width:15%;" src="/img/icons/workbench.png" rel="nofollow" alt="Card image cap">
                    <h2 >Data workbench</h2>
                    <p class="card-text">
                        <h4>First you need to create a consent receipt. Do it via the <a href="/auth/consents">Consent menu item</a> or select button here below.<br/><br/></h4>
                        {{#if session.clientId}}
                        <a href="/auth/consents/form" class="btn btn-primary"><i class="material-icons" style="font-size:28px">assignment_turned_in</i>&nbsp;&nbsp;&nbsp;Create consent receipt</a>
                        {{else}}
                        <h4>First you need to <b>create an app</b>. Do it via the <a href="/auth/applications">App menu item</a>.<br/><br/></h4>
                        <span class="btn btn-light" style><i class="material-icons" style="font-size:28px">assignment_turned_in</i>&nbsp;&nbsp;&nbsp;Create new consent receipt</span>                
                        {{/if}}
                    </p>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>
<script>
    $(function() {
        var start = moment().subtract(29, 'days');
        var end = moment();


        function cb(start, end) {
            $('#importRange').val(start.format('DD MMMM YYYY') + ' - ' + end.format('DD MMMM YYYY'));
        }

        $('#importRange').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);
        cb(start, end);
    });

    function selectConsentReceipt(element){
        if(element.value!="empty")
            window.location="/auth/workbench/selectConsentReceipt?consentReceiptSelected="+element.value;
    }


function copyToClipboard(id) {
    /* Get the text field */
    var copyText = document.getElementById(id);
    var changeType=false;
    if(copyText.type=="password"){
        changeType=true;
        copyText.type="text;"
    }

    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /*For mobile devices*/
    /* Copy the text inside the text field */
    document.execCommand("copy");
    if(changeType)
        copyText.type="password"
}
</script>